<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Simple Spring Boot Calculator Exercise">
  <meta name="author" content="Filip Brzozowski">
  <title>Spring Calculator</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<header>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>Spring Boot Calculator</strong>
      </a>
    </div>
  </div>
</header>
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              Calculator
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <form action="#" th:action="@{/}" th:object="${Calculator}" method="POST">
                  <div class="form-group">
                    <label>Number 1</label>
                    <input class="form-control" type="text" th:field="*{number1}"/>
                  </div>
                  <div class="form-group">
                    <label>Number 2</label>
                    <input class="form-control" type="text" th:field="*{number2}"/>
                    <select class="form-control" th:field="*{operation}" title="Select operation">
                      <option th:value="'+'" th:text="Add"></option>
                      <option th:value="'-'" th:text="Subtract"></option>
                      <option th:value="'*'" th:text="Multiply"></option>
                      <option th:value="'/'" th:text="Divide"></option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Submit"/>
                    <input class="btn btn-danger" type="reset" value="Reset"/>
                  </div>
                </form>
                <br/>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              Calculation result
            </div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <p>Result: <span th:text="${Calculator.result}">0</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container mt-5">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p><strong>Spring Boot Calculator</strong> by <a
        href="https://github.com/fbrzozowski">Filip Brzozowski</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    </p>
    <p>View source code on <a href="https://github.com/fbrzozowski/java-spring-web-calculator"
                              target="_blank">Github</a>
    </p>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>